nav ul li{
display: flex;
width: 151px;
height: 31px;
float: left;
letter-spacing: 0.0px;
}

li a {
    text-decoration: none;
    color: black;
    font:"Helvetica";
    size: 26px;
    letter-spacing: 0.0px;
}

.button{
    width:150px;
    height: 55px;
    border-radius:3px;
    background-color: #820bc6;
  }
  span{
      color: #820bc6
  }