.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.cards{
    width: 250px;
    border: 1px solid #999999a3;
    box-shadow: 2px 2px 10px #33333369;
    background-color: #f1f1f1;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cards img{
    width: 100%;
}
.cord footer{
    display: flex;
}
.card footer .button:first-child;
margin